# Ignore legacy folder containing old source
Legacy/

# Backup files from refactoring
*.bak

# Add other common ignores below if needed
# *.luac
# *.log
# Local documentation
.vscode/
.release/
Backups/
AddOns/
trash/
